<!DOCTYPE html>
<html lang="en">

<head>
    <title>MEAN Stack CRUD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
    <br>
    <div class="container">
        <h3>Employee Information</h3>
        <i class="text-danger">Displaying employee information using MEAN Stack using MongoDB, Express, Node.JS and Angular.</i>
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-active">
                    <th>Object Id</th>
                    <th>Employee Name</th>
                    <th>Status Position</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<sampleCollection.length; i++) {%>
                    <tr class="table-success">
                        <td>
                            <%= sampleCollection[i]._id%>
                        </td>
                        <td>
                            <%= sampleCollection[i].Name%>
                        </td>
                        <td>
                            <%= sampleCollection[i].Position%>
                        </td>
                        <% } %>
                    </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="text-primary">LSS Real-Time Monitoring System</h4>
                <br>
                <div class="card text-white bg-success mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">System Status 1</h5>
                        <p class="card-text">All system services running OK.</p>
                    </div>
                </div>
                <div class="card text-white bg-warning mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">System Status 2</h5>
                        <p class="card-text">System encountering internal issues</p>
                    </div>
                </div>
                <div class="card text-white bg-danger mb-3" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">System Status 3</h5>
                        <p class="card-text">System in critical condition.</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="col">
                <canvas id="dataChart" width="500" height="150"></canvas>
                <canvas id="seconddataChart" width="500" height="150"></canvas>
                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
            </div>
        </div>
    </div>

    <script>
        var ctx = document.getElementById("dataChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["9:00", "12:00", "15:00", "18:00", "21:00", "24:00"],
                datasets: [{
                    label: 'Real Time Monitoring System Status',
                    data: [12, 19, 13, 7, 4, 8],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        var ctx = document.getElementById("seconddataChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["9:00", "12:00", "15:00", "18:00", "21:00", "24:00"],
                datasets: [{
                    label: 'Real Time Monitoring System Status',
                    data: [12, 19, 13, 7, 4, 8],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: ""
                },
                axisY: {
                    title: "Units Sold",
                    valueFormatString: "#0,,.",
                    suffix: "mn",
                    stripLines: [{
                        value: 3366500,
                        label: "Average"
                    }]
                },
                data: [{
                    yValueFormatString: "#,### Units",
                    xValueFormatString: "YYYY",
                    type: "spline",
                    dataPoints: [
                        { x: new Date(2002, 0), y: 2506000 },
                        { x: new Date(2003, 0), y: 2798000 },
                        { x: new Date(2004, 0), y: 3386000 },
                        { x: new Date(2005, 0), y: 6944000 },
                        { x: new Date(2006, 0), y: 6026000 },
                        { x: new Date(2007, 0), y: 2394000 },
                        { x: new Date(2008, 0), y: 1872000 },
                        { x: new Date(2009, 0), y: 2140000 },
                        { x: new Date(2010, 0), y: 7289000 },
                        { x: new Date(2011, 0), y: 4830000 },
                        { x: new Date(2012, 0), y: 2009000 },
                        { x: new Date(2013, 0), y: 2840000 },
                        { x: new Date(2014, 0), y: 2396000 },
                        { x: new Date(2015, 0), y: 1613000 },
                        { x: new Date(2016, 0), y: 2821000 },
                        { x: new Date(2017, 0), y: 2000000 }
                    ]
                }]
            });
            chart.render();

        }
    </script>

</body>

</html>